<a href="https://colab.research.google.com/github/Akash-chowdhury-09/Python-Hand_Note/blob/main/Python_Learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#how to know data types of different variables?

In [ ]:
# Integer
x = 10
print(type(x))  # Output: <class 'int'>

# Float
y = 10.5
print(type(y))  # Output: <class 'float'>

# String
z = "Hello"
print(type(z))  # Output: <class 'str'>

# List
a = [1, 2, 3]
print(type(a))  # Output: <class 'list'>

# Tuple
b = (1, 2, 3)
print(type(b))  # Output: <class 'tuple'>

# Dictionary
c = {"key": "value"}
print(type(c))  # Output: <class 'dict'>

# Boolean
d = True
print(type(d))  # Output: <class 'bool'>

data = [10, 10.5, "text", [1, 2], (3, 4), {"key": "value"}]
for item in data:
    print(f"Value: {item}, Type: {type(item)}")

<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'bool'>
Value: 10, Type: <class 'int'>
Value: 10.5, Type: <class 'float'>
Value: text, Type: <class 'str'>
Value: [1, 2], Type: <class 'list'>
Value: (3, 4), Type: <class 'tuple'>
Value: {'key': 'value'}, Type: <class 'dict'>

#Print in python

In [ ]:
name = "Akash is your boss"
print(name)
print("hello!")  #alternative way

Akash is your boss
hello!

##n Python, you can print multiple values on the same line using the print() function by managing the end parameter or concatenating strings. Here's how you can do it:

In [ ]:
print("Hello", end=" ")
print("World")

Hello World

#Want to know which python version is running here?

In [ ]:
import sys
print(sys.version)

!python --version #alternative way

3.10.12 (main, Nov  6 2024, 20:22:13) [GCC 11.4.0]
Python 3.10.12

#want to take input in python?
##Remember python by default always take string as input

---

In [ ]:
x= input("Enter what you want ")
print(f"the input is : {x}, type: {type(x)}")

Enter what you want 5
the input is : 5, type: <class 'str'>

##You can take different types of input by type casting the input

In [ ]:
dage = int(input("Enter your age: "))   #for taking integer input
print(f"You are {age} years old.")

height = float(input("Enter your height in meters: "))  #for taking float input
print(f"Your height is {height} meters.")


#Multi-Line Input
#To accept multi-line input, use a loop:

print("Enter your address (type 'done' to finish):")
address = []   # is a list where we store address
while True:
    line = input()
    if line.lower() == "done":  #case sensitive
        break
    address.append(line)    #append to list

print("Your address is:")
print(address)  # it will print as list
print("\nd".join(address))  #if we use this , this will combines all lines in the address list into a single string, with each line separeted by a newline

Enter your age: 23
You are 23 years old.
Enter your height in meters: 5.8333
Your height is 5.8333 meters.
Enter your address (type 'done' to finish):
difjdf difjdi
difjd dfidjf
done
Your address is:
['difjdf difjdi', 'difjd dfidjf']
difjdf difjdi
ddifjd dfidjf

#Join()
## The join() method in Python is used to combine elements of a list (or other iterable) into a single string, with a specified separator between each element.

#Examples of Different Separators with join():

Using No Separator:
If you want the elements to be joined without any separator, use an empty string (""):

In [ ]:
address = ["123 Elm Street", "Apartment 4B", "Springfield"]
print("".join(address))

123 Elm StreetApartment 4BSpringfield

Using a Comma:
To join the elements with a comma:

In [ ]:
address = ["123 Elm Street", "Apartment 4B", "Springfield"]
print(", ".join(address))

123 Elm Street, Apartment 4B, Springfield

Using a Space:
To join the elements with a single space:

In [ ]:
address = ["123 Elm Street", "Apartment 4B", "Springfield"]
print(" ".join(address))

123 Elm Street Apartment 4B Springfield

#Splitting Input
For multiple values in one line, use split():
# by default split can detect different input by space but we can customize it
#split method always return a list

In [ ]:
numbers = input("Enter three numbers separated by spaces: ").split()
print(numbers)  # print list of string

# Convert to integers  -> it is the most common method
numbers = [int(num) for num in numbers]
print(f"The numbers are: {numbers}")

Enter three numbers separated by spaces: 1 2 3
['1', '2', '3']
The numbers are: [1, 2, 3]

In [ ]:
 #You can specify the delimiter in .split(delimiter).
 #Input Separated by a Custom Character (e.g., Commas)

numbers = input("Enter numbers separated by commas: ").split(",")
numbers = [int(num) for num in numbers]  # Convert to integers
print(numbers)


numbers = input("Enter numbers separated by /: ").split("/")
numbers = [int(num) for num in numbers]  # Convert to integers
print(numbers)

Enter numbers separated by commas: 1,2,3
[1, 2, 3]

KeyboardInterrupt: Interrupted by user

#Assign value to variable and print with string

In [ ]:
x,y,z=10,11,12
print(x,y,z)  # default separator space
#customize
print(x,y,z,sep=",")

10 11 12
10,11,12

#concatanation
## only string can concate with string

In [ ]:
print("This is " + x)  # error because here x in an integer

TypeError: can only concatenate str (not "int") to str

In [ ]:
print("This is "+str(x))

This is 10

In [ ]:
print("This is " + str(x) + " and this is "+str(y) +" and this is "+str(z))

This is 10 and this is 11 and this is 12

#formatting

In [ ]:
print("This is {} and this is {}".format(x,y) )
print("This is {1} and this is {2} and this is {0}".format(x,y,z) )
print(f"this is {x} and this is {y} and this is {z}")

This is 10 and this is 11
This is 11 and this is 12 and this is 10
this is 10 and this is 11 and this is 12

### multiple assignment

In [ ]:
a_integer, a_float, a_string = 100, 210.10, "John"

print(a_integer, a_float, a_string)



print("Integer: "+str(a_integer) + "Float: "+str(a_float)+"String: "+ a_string)
print("Integer: {}, Float: {}, String: {}".format(a_integer, a_float, a_string))

100 210.1 John
Integer: 100Float: 210.1String: John
Integer: 100, Float: 210.1, String: John

In [ ]:
str1 = "Hello, World!"

print(str1)       #prints complete string
print(str1[0])    #prints first characte of the string

#string slicing
print(str1[2:5])  # Prints characters starting from 3rd upto 5th (index 2 to 4)
print(str1[2:])   #prints string starting from 3rd character

#string repetition
print(str1 *2)    #prints string 2 times
print(str1 *3)    #prints string 3 times
print(str1 + "TEST") #prints concatanation string
print(str1[0:5])  # 'Hello'  --> Characters from index 0 to 4
print(str1[7:])   # 'World!' --> Characters from index 7 to the end
print(str1[:5])   # 'Hello'  --> Characters from the start to index 4

#skipping
print(str1[::2])  # 'Hoo ol' --> Every second character (skipping one character)

Hello, World!
H
llo
llo, World!
Hello, World!Hello, World!
Hello, World!Hello, World!Hello, World!
Hello, World!TEST
Hello
World!
Hello
Hlo ol!

#Skipping
##string[start:end:step]
#start: The index where the slice begins (inclusive).
#end: The index where the slice ends (exclusive).
#step: The number of characters to skip (optional).


## skipping means skip this indices and delate others

##[0:12:3] means This slices the string from index 0 to 11 and skips every third character. So, we take the characters at indices 0, 3, 6, and 9.
###bakigula nibo na


#Skipping with Negative Step (Reversing a String)
#s = "Python"
#print(s[::-1])  
# Reverses the string

In [ ]:
#Skipping Every Other Character

s = "Python"
print(s[::2])  # Skips every second character

Pto

In [ ]:
#Skipping Characters in the Middle of a String
s = "Hello, World!"
print(s[0:12:3])  # Skips every third character from index 0 to 11

Hl r

In [ ]:
#Skipping with Negative Step (Reversing a String)

s = "Python"
print(s[::-1])  # Reverses the string

nohtyP

#Skipping in a Loop:

In [ ]:
s = "abcdefg"
for char in s[::2]:
    print(char,end=" ")

a c e g

#Operators
##Python language supports the following types of operators.

###>Arithmetic Operators
###Comparison (Relational) Operators
###Assignment Operators
###Logical Operators
###Identity Operators
###Membership Operators
###Bitwise Operators

##Arithmatic Operators
(**) -> exponentiation operator

In [ ]:
x,y = 5,3
x/=y
print(x)

1.6666666666666667

In [ ]:
x+y, x-y, x*y, x/y, x**y, y%x, 5**(1/3)

(4.666666666666667,
 -1.3333333333333333,
 5.0,
 0.5555555555555556,
 4.629629629629631,
 1.3333333333333333,
 1.7099759466766968)

#Comarison Operator

In [ ]:
x>20,x<20,x==10,x!=11,x>=10,y<=20

(False, True, False, True, False, True)

#Assignment operators
![image.png]()

In [ ]:
x = 5  # x is assigned the value 5
print(x)
x += 3  # x is now 8 (5 + 3)
print(x)
x -= 2  # x is now 6 (8 - 2)
print(x)
x *= 2  # x is now 12 (6 * 2)
print(x)
x /= 2  # x is now 6.0 (14 / 2)
print(x)
x //= 3  # x is now 2.0 (7 // 3)
print(x)
x %= 3  # x is now 2.0 (2 % 3)
print(x)
x **= 3  # x is now 8.0 (2 ** 3)
print(x)
x=5
x &= 3  # 0011 in binary; x is now 1 (0101 & 0011)
print(x)
x=5
x |= 3  # 0011 in binary; x is now 7 (0101 | 0011)
print(x)
x = 5  # 0101 in binary
x ^= 3  # 0011 in binary; x is now 6 (0101 ^ 0011)
print(x)
x = 5  # 0101 in binary
x <<= 1  # x is now 10 (1010 in binary)
print(x)
x = 5  # 0101 in binary
x >>= 1  # x is now 2 (0010 in binary)
print(x)

5
8
6
12
6.0
2.0
2.0
8.0
1
7
6
10
2

Logical Operator

In [ ]:
x,y=5,3
print(x<5 and x<10)

False

In [ ]:
x<5 or x<4

False

In [ ]:
not(x<5 or x<4)

True

In [ ]:
x is not y

True

#Membership Operator

In [ ]:
array = [1,3,5,7,9]
1 in array

True

In [ ]:
2 in array

False

In [ ]:
2 not in array

True

#Bitwise Operators

In [ ]:
1&1, 1|1, 1^1

(1, 1, 0)

#IF Else in Python(Conditional Statements)

In [ ]:
a = 200
b = 333
c = 5
d = 10
if c>2:
  print("C is greater than 2")
if a > b:
  print("a is greater than b")
elif a == b:
    print("a and b are equal")
else:
    print("b is greater than a")
print("CUET")

C is greater than 2
b is greater than a
CUET

In [ ]:
 a = 2000
 b = 2000
 if b > a:
   print("b is greater than a")
 elif a == b:
   print("a and b are equal")

a and b are equal

##one-liner conditional expression, also known as a ternary conditional operator.

## if er bamdikhe execute hobe jodi if condition true hobe otherwise dandikhe jabe.
## eita diye o nested kora jay

In [ ]:
print("a is greater than b") if a > b else print("a and b are equal") if a == b else print("b is greater than a")

a and b are equal

check substring

In [ ]:
name = input()
name in "aieouAIEOU"

KeyboardInterrupt: Interrupted by user

# **#Problems:**:::::

## 1.Check if the input number is even or odd.
## 2.Check if the input string 1st character is any vowel.
## 3.Write a Python program which accepts the radius of a circle from the user and compute the area.
## 4.Write a Python program to convert temperatures to and from celsius, fahrenheit.
## 5.Take input of age of 3 people by user and determine oldest and youngest among them

In [ ]:
# Check if the input number is even or odd

# Input number
number = int(input("Enter a number: "))

# Check if the number is even or odd
if number % 2 == 0:
    print(f"{number} is even.")
else:
    print(f"{number} is odd.")

Enter a number: 5
5 is odd.

In [ ]:
#Check if the input string's 1st character is any vowel
# Input string
string = input("Enter a string: ")

# Check if the first character is a vowel
if string[0].lower() in 'aeiou':
    print(f"The first character '{string[0]}' is a vowel.")
else:
    print(f"The first character '{string[0]}' is not a vowel.")

Enter a string: akash
The first character 'a' is a vowel.

In [ ]:
 #Compute the area of a circle from the radius

import math  #*****

# Input radius
radius = float(input("Enter the radius of the circle: "))

# Compute the area
area = math.pi * radius ** 2

print(f"The area of the circle with radius {radius} is {area:.2f}.")

Enter the radius of the circle: 3
The area of the circle with radius 3.0 is 28.27.

In [ ]:
#Convert temperatures between Celsius and Fahrenheit

# Function to convert Celsius to Fahrenheit
def celsius_to_fahrenheit(celsius):
    return (celsius * 9/5) + 32

# Function to convert Fahrenheit to Celsius
def fahrenheit_to_celsius(fahrenheit):
    return (fahrenheit - 32) * 5/9

# Input temperature and conversion choice
choice = input("Convert from Celsius to Fahrenheit (C) or Fahrenheit to Celsius (F)? Enter C or F: ").upper()

if choice == 'C':
    celsius = float(input("Enter temperature in Celsius: "))
    print(f"{celsius}°C is equal to {celsius_to_fahrenheit(celsius):.2f}°F.")
elif choice == 'F':
    fahrenheit = float(input("Enter temperature in Fahrenheit: "))
    print(f"{fahrenheit}°F is equal to {fahrenheit_to_celsius(fahrenheit):.2f}°C.")
else:
    print("Invalid choice. Please enter 'C' or 'F'.")

Convert from Celsius to Fahrenheit (C) or Fahrenheit to Celsius (F)? Enter C or F: c
Enter temperature in Celsius: 35
35.0°C is equal to 95.00°F.

##Determine the oldest and youngest among 3 people

In [ ]:
# Input ages of three people in a single line separated by spaces
ages = input("Enter the ages of three people separated by spaces: ").split()

# Convert the input string values to integers
age1, age2, age3 = map(int, ages)

# Determine the oldest and youngest
oldest = max(age1, age2, age3)
youngest = min(age1, age2, age3)

print(f"The oldest person is {oldest} years old.")
print(f"The youngest person is {youngest} years old.")

Enter the ages of three people separated by spaces: 34 45 23
The oldest person is 45 years old.
The youngest person is 23 years old.

###another way  and popular way

In [ ]:
# Input ages of three people in a single line separated by spaces
ages = input("Enter the ages of three people separated by spaces: ").split()

# Convert each string in the list to an integer manually
ages = [int(age) for age in ages]

# Determine the oldest and youngest
oldest = max(ages)
youngest = min(ages)

print(f"The oldest person is {oldest} years old.")
print(f"The youngest person is {youngest} years old.")

Enter the ages of three people separated by spaces: 34 13 11
The oldest person is 34 years old.
The youngest person is 11 years old.

##A school has following rules for grading system:
Below 25 - F
,25 to 45 - E
,45 to 50 - D
,50 to 60 - C
,60 to 80 - B
,Above 80 - A.
##Now, ask user to enter marks and print the corresponding grade.

In [ ]:
# Input marks from the user
marks = int(input("Enter your marks: "))

# Determine the grade based on the grading system
if marks < 25:
    grade = "F"
elif 25 <= marks < 45:
    grade = "E"
elif 45 <= marks < 50:
    grade = "D"
elif 50 <= marks < 60:
    grade = "C"
elif 60 <= marks < 80:
    grade = "B"
else:  # marks >= 80
    grade = "A"

# Print the corresponding grade
print(f"Your grade is: {grade}")

Enter your marks: 96
Your grade is: A

Write a program to trace your subject mark. Your program should fulfill the following conditions:
If the subject mark is below 0 and above 100, print “error: mark should be between 0 and 100 only”
Students will fail in the subject if their mark is below 50.
Students will pass in the subject if they score 50 and above.
If subject mark is between 50 and 60, grade student as good.
If subject mark is between 60 and 80, grade student as very good.
If subject mark is between 80 and 100, grade student as outstanding.

In [ ]:
# Input subject mark from the user
mark = int(input("Enter the subject mark: "))

# Check if the mark is valid
if mark < 0 or mark > 100:
    print("Error: mark should be between 0 and 100 only")
else:
    # Determine pass or fail
    if mark < 50:
        print("Student has failed in the subject.")
    else:
        print("Student has passed in the subject.")

        # Grade the student based on the mark range
        if 50 <= mark < 60:
            grade = "Good"
        elif 60 <= mark < 80:
            grade = "Very Good"
        elif 80 <= mark <= 100:
            grade = "Outstanding"

        print(f"Grade: {grade}")

Enter the subject mark: 40
Student has failed in the subject.

#Loop

In [ ]:
# While loop
x, sum = 5, 0

while x>0:
    sum+=x
    x-=1
print(sum)

15

#For loop

In [ ]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [ ]:
list1 = [[1,[2,4],5,7,9], [2,4,6,8,10]]

for l1 in list1:
  print(l1)
  print('\n')
  for l2 in l1:
    print(l2)

[1, [2, 4], 5, 7, 9]


1
[2, 4]
5
7
9
[2, 4, 6, 8, 10]


2
4
6
8
10

##. Using range():

In [ ]:
for i in range(5):  # Iterates from 0 to 4
    print(i)

0
1
2
3
4

##Custom Range with Start, Stop, and Step:
###start (optional): The starting value of the sequence (inclusive). Default is 0.
###stop: The end value of the sequence (exclusive).
###step (optional): The difference between each number in the sequence. Default is 1.

In [ ]:
for i in range(1, 10, 2):  # Starts at 1, stops before 10, steps by 2
    print(i)

1
3
5
7
9

#Skipping Indices in a Loop:

In [ ]:
for i in range(0, 10, 3):  # Skips indices by 3
    print(i)

0
3
6
9

In [ ]:
#range(start, stop)
for i in range(3, 8):  # Generates numbers: 3, 4, 5, 6, 7
    print(i)

3
4
5
6
7

In [ ]:
#range(start, stop, step)
for i in range(1, 10, 2):  # Generates numbers: 1, 3, 5, 7, 9
    print(i)

1
3
5
7
9

##Negative Step:

In [ ]:
for i in range(10, 0, -2):  # Generates numbers: 10, 8, 6, 4, 2
    print(i)

10
8
6
4
2

 ## Empty Range:
 ### If start is greater than stop and the step is positive, or if start is less than stop and the step is negative, range produces no numbers.

In [ ]:
for i in range(5, 3):  # No output because the range is empty
    print(i)

# Iterating Backward Over a List:

In [ ]:
fruits = ["apple", "banana", "cherry"]
for i in range(len(fruits) - 1, -1, -1):  # Backward iteration
    print(fruits[i])

cherry
banana
apple

##Nested Ranges:

In [ ]:
for i in range(1, 4):
    for j in range(1, 4):
        print(f"i={i}, j={j}")

i=1, j=1
i=1, j=2
i=1, j=3
i=2, j=1
i=2, j=2
i=2, j=3
i=3, j=1
i=3, j=2
i=3, j=3

#Break statement

In [ ]:
for letter in 'Python':
   if letter == 'h':
      continue
   print('Current Letter :', letter)

var = 10
while var > 0:
   print('Current variable value :', var)
   var = var -1
   if var == 5:
      break

Current Letter : P
Current Letter : y
Current Letter : t
Current Letter : o
Current Letter : n
Current variable value : 10
Current variable value : 9
Current variable value : 8
Current variable value : 7
Current variable value : 6

#Continue statement

In [ ]:
for letter in 'Python':
  if letter == 'h':
    continue        #skip the remaining code inside a loop
  print('Current Letter :', letter)
  print('CUET')

var = 10
while var > 0:
   var = var -1
   if var==5:
     continue
   print('Current variable value :', var)

Current Letter : P
CUET
Current Letter : y
CUET
Current Letter : t
CUET
Current Letter : o
CUET
Current Letter : n
CUET
Current variable value : 9
Current variable value : 8
Current variable value : 7
Current variable value : 6
Current variable value : 4
Current variable value : 3
Current variable value : 2
Current variable value : 1
Current variable value : 0

In [ ]:
for j in range(2, 2):
  print(j)
print("alive again")

alive again

### prime number

In [ ]:
for i in range(2,30):
    flag=0
    for j in range(2, i):
      if (i%j==0):
        print(i, "Not Prime")
        flag=1
        break
    if(flag==0):
      print(i, "Prime")

2 Prime
3 Prime
4 Not Prime
5 Prime
6 Not Prime
7 Prime
8 Not Prime
9 Not Prime
10 Not Prime
11 Prime
12 Not Prime
13 Prime
14 Not Prime
15 Not Prime
16 Not Prime
17 Prime
18 Not Prime
19 Prime
20 Not Prime
21 Not Prime
22 Not Prime
23 Prime
24 Not Prime
25 Not Prime
26 Not Prime
27 Not Prime
28 Not Prime
29 Prime

# Pass statement

In [ ]:
for i in range(10):
  if i%2==0:
    continue          #present in the program, but don't execute command or code
  else:
    print(i)
  print('CUET')

1
CUET
3
CUET
5
CUET
7
CUET
9
CUET

##Probelms:
1. Using a nested for loop generate the following pattern:

```
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*
```

In [ ]:
# Upper half of the pattern
for i in range(1, 6):  # 1 to 5
    for j in range(i):
        print("*", end=" ")
    print()  # Move to the next line after each row

# Lower half of the pattern
for i in range(4, 0, -1):  # 4 to 1
    for j in range(i):
        print("*", end=" ")
    print()  # Move to the next line after each row

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

# 2. Write a Python program to get the Fibonacci series between 0 to 50.

In [ ]:
# Initialize the first two numbers of the Fibonacci series
a, b = 0, 1

# Print the Fibonacci series within the range 0 to 50
print("Fibonacci series between 0 and 50:")
while a <= 50:
    print(a, end=" ")
    a, b = b, a + b

Fibonacci series between 0 and 50:
0 1 1 2 3 5 8 13 21 34

#3. Write a Python program to check whether each alphabet of the input string is a vowel or consonant.

In [ ]:
# Get input string from the user
input_string = input("Enter a string: ")

# Define vowels
vowels = "aeiou"

# Iterate through each character in the string
for char in input_string:
    if char.isalpha():  # Check if the character is an alphabet
        if char.lower() in vowels:
            print(f"'{char}' is a vowel.")
        else:
            print(f"'{char}' is a consonant.")
    else:
        print(f"'{char}' is not an alphabet.")

Enter a string: A
'A' is a vowel.

# 4. Write a Python program to create the multiplication table (from 1 to 10) of a number. Go to the editor

In [ ]:
# Get the number from the user
num = int(input("Enter a number to generate its multiplication table: "))

print(f"\nMultiplication table of {num}:")
# Loop to create the multiplication table from 1 to 10
for i in range(1, 11):
    print(f"{num} x {i} = {num * i}")

Enter a number to generate its multiplication table: 7

Multiplication table of 7:
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

# 5. Write a Python program to construct the following pattern, using a nested loop number.

```

input(1 to 9) = 9
Expected Output:

1
22
333
4444
55555
666666
7777777
88888888
999999999
88888888
7777777
666666
55555
4444
333
22
1
```

In [ ]:
x =int(input("Enter a number from 1 to 9: "))
for i in range(1,x+1):
  for j in range(i):
    print(i,end=" ")
  print()

for i in range(x-1,0,-1):
  for j in range(i):
    print(i,end=" ")
  print()

Enter a number from 1 to 9: 9
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6
7 7 7 7 7 7 7
8 8 8 8 8 8 8 8
9 9 9 9 9 9 9 9 9
8 8 8 8 8 8 8 8
7 7 7 7 7 7 7
6 6 6 6 6 6
5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

#6. Display numbers from -10 to -1 using for loop

In [ ]:
for i in range(-10,0,1):
  print(i,end=" ")

-10 -9 -8 -7 -6 -5 -4 -3 -2 -1

# 7. Reverse a given integer number and find square root.

In [ ]:
import math
s = int(input("Enter a number: "))
reverse_number = int(str(abs(s))[::-1])

ans = math.sqrt(reverse_number)
print(f"Original number: {s}")
print(f"Reverse number :{reverse_number}")
print(f"Solution : {ans}")

Enter a number: 94
Original number: 94
Reverse number :49
Solution : 7.0

#Python Function

# Built in function:
##Mathematical: abs(), max(), min(), pow(), round(), sum()
##Type Conversion: int(), float(), str(), bool(), list(), tuple()
##String Functions: len(), str.upper(), str.lower(), str.split()
##Input/Output: print(), input()
##Other: range(), sorted(), zip(), map()

##Mathmatical function :

In [ ]:


#abs() - Returns the absolute value of a number.
print(abs(-7))  # Output: 7

#max() - Returns the largest item from an iterable or the largest of two or more arguments.
print(max(1, 2, 3, 4))  # Output: 4
print(max([1, 2, 3]))   # Output: 3

#min() - Returns the smallest item from an iterable or the smallest of two or more arguments.
print(min(1, 2, 3, 4))  # Output: 1
print(min([1, 2, 3]))   # Output: 1

#pow() - Returns the value of x raised to the power of y (x^y).
print(pow(2, 3))  # Output: 8 (2 raised to the power 3)

#round() - Rounds a floating-point number to a specified number of decimal places.
print(round(3.14159, 2))  # Output: 3.14

7
4
3
1
1
8
3.14

##Type Conversion Functions:

In [ ]:
#int() - Converts a value to an integer.
print(int("123"))  # Output: 123
print(int(3.14))   # Output: 3

#float() - Converts a value to a floating-point number.
print(float("3.14"))  # Output: 3.14
print(float(7))      # Output: 7.0

#str() - Converts a value to a string.
print(str(100))  # Output: '100'
print(str(3.14)) # Output: '3.14'

#bool() - Converts a value to a boolean (True or False).
print(bool(0))     # Output: False
print(bool("Hello"))  # Output: True

#list() - Converts a value to a list.
print(list("hello"))  # Output: ['h', 'e', 'l', 'l', 'o']

#tuple() - Converts a value to a tuple.
print(tuple([1, 2, 3]))  # Output: (1, 2, 3)

123
3
3.14
7.0
100
3.14
False
True
['h', 'e', 'l', 'l', 'o']
(1, 2, 3)

##String Functions:

In [ ]:
#len() - Returns the length of an object (string, list, etc.).
print(len("Python"))  # Output: 6
print(len([1, 2, 3]))  # Output: 3

#str.upper() - Converts all characters in a string to uppercase.
print("hello".upper())  # Output: 'HELLO'

#str.lower() - Converts all characters in a string to lowercase.
print("HELLO".lower())  # Output: 'hello'

#str.split() - Splits a string into a list where each word is a list item.
print("Python is awesome".split())  # Output: ['Python', 'is', 'awesome']

6
3
HELLO
hello
['Python', 'is', 'awesome']

##Input/Output Functions:

In [ ]:
#print() - Outputs to the console.
print("Hello, World!")  # Output: Hello, World!

#input() - Takes input from the user as a string.
name = input("Enter your name: ")
print(f"Hello, {name}!")  # Output: Hello, <name>!

Hello, World!
Enter your name: akash
Hello, akash!

##Other Built-in Functions:

In [ ]:
#range() - Generates a sequence of numbers.
for i in range(5):
    print(i)  # Output: 0 1 2 3 4

#sorted() - Returns a sorted list from an iterable.
print(sorted([3, 1, 4, 2]))  # Output: [1, 2, 3, 4]

#zip() - Combines multiple iterables into tuples.
names = ["Alice", "Bob", "Charlie"]
ages = [25, 30, 35]
zipped = zip(names, ages)
print(list(zipped))  # Output: [('Alice', 25), ('Bob', 30), ('Charlie', 35)]

0
1
2
3
4
[1, 2, 3, 4]
[('Alice', 25), ('Bob', 30), ('Charlie', 35)]

#Lambda Function:
## lambda arguments: expression
### In Python, a lambda function is a small, anonymous (unnamed) function defined using the keyword lambda. It can have any number of arguments but only one expression.

In [ ]:
# Lambda function that adds 10 to the argument x
add_ten = lambda x: x + 10
print(add_ten(5))  # Output: 15


# Lambda function that multiplies two arguments
multiply = lambda x, y: x * y
print(multiply(4, 5))  # Output: 20

# Lambda function with no arguments, returns a fixed value
greet = lambda: "Hello!"
print(greet())  # Output: Hello!

15
20
Hello!

# map
## map(function, iterable)

### The map() function is used to apply a specified function to each item in an iterable (like a list).

 It returns an iterator (not a list directly), so you have to convert it into a list using list() or loop through it.

In [ ]:
numbers = [1, 2, 3, 4]           # Original list
squared = map(lambda x: x**2, numbers)  # Apply lambda (square each number)
print(list(squared))             # Convert iterator to list and print: [1, 4, 9, 16]

[1, 4, 9, 16]

# filter() :filters out elements from an iterable based on a condition.

## filter(function, iterable)
### list e convert korte hobe

In [ ]:
# Using lambda to filter out even numbers
numbers = [1, 2, 3, 4, 5]
even_numbers = filter(lambda x: x % 2 == 0, numbers)
print(list(even_numbers))  # Output: [2, 4]

[2, 4]

#Function

# User-Defined Functions

In [ ]:
def greet(name):
    return f"Hello, {name}!"

print(greet("Alice"))

Hello, Alice!

In [ ]:
def name_function(fname):
    print(fname + " Ali")

name_function("Adam")
name_function("Smith")
name_function("Rebecca")

Adam Ali
Smith Ali
Rebecca Ali

#arguments function

## Positional Arguments:

### They are passed to a function in the correct order. The order in which the arguments are passed must match the order of the parameters defined in the function.

In [ ]:
def greet(name, age):
    print(f"Hello {name}, you are {age} years old.")

greet("Alice", 25)  # 'Alice' is the first argument, and 25 is the second argument

Hello Alice, you are 25 years old.

 ## Keyword Arguments:
 ### The order of the arguments does not matter when using keyword arguments.

In [ ]:
def greet(name, age):
    print(f"Hello {name}, you are {age} years old.")

greet(age=30, name="Bob")  # Using keyword arguments, order doesn't matter

Hello Bob, you are 30 years old.

## Default Arguments:
###You can define default values for one or more parameters in the function. If a caller does not provide a value for these parameters, the default values are used.

In [ ]:
def greet(name, age=18):
    print(f"Hello {name}, you are {age} years old.")

greet("Charlie")  # age will default to 18
greet("Diana", 22)  # age is explicitly provided as 22

Hello Charlie, you are 18 years old.
Hello Diana, you are 22 years old.

 # Variable-Length Arguments:

 ## Sometimes, you don't know in advance how many arguments will be passed to a function. Python allows you to handle this using *args (for non-keyword arguments) and **kwargs (for keyword arguments).

 # Non-keyword variable-length arguments (*args)
 ## Definition: These are arguments that are passed to the function without keywords. They are positional arguments, meaning the arguments are identified by their position in the function call, not by their name.

#Keyword variable-length arguments (**kwargs)
##Definition: These are arguments that are passed to the function with a keyword (or name). They are keyword arguments, meaning the arguments are passed in the form of key=value.

##args (Non-keyword variable-length arguments):
###The *args syntax allows you to pass a variable number of positional arguments. These arguments are stored as a tuple.

##always tuple ***

In [ ]:
def add_numbers(*args):
    total = sum(args)
    print(f"The total sum is: {total}")

add_numbers(1, 2, 3)  # Outputs: The total sum is: 6
add_numbers(5, 10, 15, 20)  # Outputs: The total sum is: 50

TypeError: 'int' object is not callable

## here showing error because i used sum as variable before

#**kwargs (Keyword variable-length arguments):
##The **kwargs syntax allows you to pass a variable number of keyword arguments. These arguments are stored as a dictionary.

In [ ]:
def display_info(**kwargs):
    for key, value in kwargs.items():
        print(f"{key}: {value}")

display_info(name="Alice", age=25, city="New York")

name: Alice
age: 25
city: New York

#Example of Both (*args and **kwargs in the Same Function):

In [ ]:
def person_info(name, *args, **kwargs):
    print(f"Name: {name}")
    print("Hobbies:", args)
    for key, value in kwargs.items():
        print(f"{key}: {value}")

# Call function with both *args and **kwargs
person_info("Alice", "Reading", "Traveling", age=25, city="New York")

Name: Alice
Hobbies: ('Reading', 'Traveling')
age: 25
city: New York

#Multi Return Value

In [ ]:
def my_profile():
  name = "Saadman Sakib"
  address = "CUET"
  ID = 123
  return name,address,ID
profile = my_profile()
print (profile)
print (type(profile))

x, y, z = my_profile()
print(x,y,z)

('Saadman Sakib', 'CUET', 123)
<class 'tuple'>
Saadman Sakib CUET 123

#Recursive Functions
##Functions that call themselves for tasks like factorials or Fibonacci.

In [ ]:
# Recursive function for factorial
def factorial(n):
    if n == 0:
        return 1
    return n * factorial(n - 1)

print(factorial(5))  # Output: 120

# Error Handling in Python

 ## 1.try Block
### The try block contains the code that might raise an exception. If an error occurs, the rest of the code in the try block will be skipped, and the program will look for an except block to handle the error.

## 2. except Block
### The except block handles the error (exception) raised in the try block. You can specify the type of exception you want to handle or leave it general to catch all exceptions.

##3. else Block
### The else block runs if no exception was raised in the try block. It is optional.

##4. finally Block
### The finally block always runs, no matter if there was an exception or not. It is commonly used for clean-up actions, like closing files or releasing resources.

try:
    # Code that may raise an exception
    ...
except SomeErrorType as e:
    # Code that handles the exception
    ...
else:
    # Code to run if no exception occurs
    ...
finally:
    # Code that always runs, no matter what
    ...

## Example 1: Basic Error Handling

In [ ]:
try:
    num1 = int(input("Enter a number: "))
    num2 = int(input("Enter another number: "))
    result = num1 / num2
    print("Result:", result)
except ZeroDivisionError:
    print("Error: Cannot divide by zero.")
except ValueError:
    print("Error: Invalid input, please enter a number.")
else:
    print("Division was successful!")
finally:
    print("Execution completed.")

Enter a number: 1
Enter another number: 0
Error: Cannot divide by zero.
Execution completed.

## Example 2: Catching Multiple Exceptions

In [ ]:
try:
    number = int(input("Enter a number: "))
    result = 10 / number
    print(f"Result: {result}")
except (ValueError, ZeroDivisionError) as e:
    print(f"Error: {e}")
else:
    print("Computation successful.")
finally:
    print("End of error handling.")

Enter a number: a
Error: invalid literal for int() with base 10: 'a'
End of error handling.

## e dile ki type er error seta bujha jay
### Without as e:   You catch the exception but cannot access its details.
### With as e:   You can access the exception object and print or log specific details, such as the error message or other information about the exception.

In [ ]:
##  without e :
try:
    num1 = int(input("Enter a number: "))
    num2 = int(input("Enter another number: "))
    result = num1 / num2  # Division
    print(f"Result: {result}")

except ZeroDivisionError:
    print("Error: Cannot divide by zero.")

except ValueError:
    print("Error: Invalid input, please enter a number.")


## with e :

try:
    num1 = int(input("Enter a number: "))
    num2 = int(input("Enter another number: "))
    result = num1 / num2  # Division
    print(f"Result: {result}")

except ZeroDivisionError as e:
    print(f"Error: {e} (Cannot divide by zero.)")

except ValueError as e:
    print(f"Error: {e} (Invalid input, please enter a number.)")

Enter a number: 5
Enter another number: 0
Error: Cannot divide by zero.
Enter a number: 5
Enter another number: 0
Error: division by zero (Cannot divide by zero.)

# Catching All Exceptions

##  you can catch all exceptions using a general except block:

In [ ]:
try:
    x = int(input("Enter a number: "))
    y = int(input("Enter another number: "))
    print(x / y)
except Exception as e:
    print(f"An error occurred: {e}")
finally:
    print("Execution finished.")

Enter a number: 5
Enter another number: a
An error occurred: invalid literal for int() with base 10: 'a'
Execution finished.

# Lists in Python
## A list in Python is an ordered collection of elements, which can be of any data type.
### Lists are mutable, meaning you can modify them (add, remove, or change elements). Lists are created using square brackets ([]) and can hold any type of data: integers, strings, booleans, or even other lists.

# 1. Creating a List
### You can create a list by placing elements inside square brackets [] separated by commas.

In [ ]:
# List of integers
numbers = [1, 2, 3, 4, 5]
print(numbers)

# List of strings
fruits = ["apple", "banana", "cherry"]
print(fruits)

# Mixed list (numbers and strings)
mixed_list = [1, "apple", 3.14, True]
print(mixed_list)

# Empty list
empty_list = []
print(empty_list)

# Nested list (list inside a list)
nested_list = [[1, 2], ["apple", "banana"], [3.14, 4.5]]
print(nested_list)

[1, 2, 3, 4, 5]
['apple', 'banana', 'cherry']
[1, 'apple', 3.14, True]
[]
[[1, 2], ['apple', 'banana'], [3.14, 4.5]]

## 2. Accessing Elements in a List
### You can access elements of a list using indexing (starts at 0) and negative indexing (starts at -1 from the end).
![image.png]()

In [ ]:
color_list=["RED", "Blue", "Green", "Black"] #circular indexing

print(color_list[0], color_list[3])

print(color_list[-4],color_list[-1])

RED Black
RED Black

In [ ]:
# Accessing elements by index
print(numbers[0])  # Output: 1
print(fruits[1])   # Output: banana

# Accessing elements using negative index
print(fruits[-1])  # Output: cherry
print(mixed_list[-2])  # Output: 3.14

1
banana
cherry
3.14

#3. Slicing Lists

In [ ]:
# List slicing
print(numbers[1:4])  # Output: [2, 3, 4] (from index 1 to 3)

# Slicing with step
print(fruits[::2])  # Output: ['apple', 'cherry'] (every second element)

# Omitting the start or end index
print(fruits[:3])   # Output: ['apple', 'banana', 'cherry'] (from start to index 2)
print(fruits[1:])   # Output: ['banana', 'cherry'] (from index 1 to the end)

[2, 3, 4]
['apple', 'cherry']
['apple', 'banana', 'cherry']
['banana', 'cherry']

##Reverse the elements of the list in place

In [ ]:
print(color_list)
print(color_list[ : :-1]) #step specify an increment

['RED', 'Blue', 'Green', 'Black']
['Black', 'Green', 'Blue', 'RED']

#4. Modifying Lists

In [ ]:
# Changing an element in the list
numbers[2] = 10
print(numbers)  # Output: [1, 2, 10, 4, 5]

# Appending an element
numbers.append(6)
print(numbers)  # Output: [1, 2, 10, 4, 5, 6]

# Inserting an element at a specific position
numbers.insert(2, 7)
print(numbers)  # Output: [1, 2, 7, 10, 4, 5, 6]

# Removing an element (first occurrence)
numbers.remove(10)
print(numbers)  # Output: [1, 2, 7, 4, 5, 6]

# Removing an element by index
del numbers[1]
print(numbers)  # Output: [1, 7, 4, 5, 6]

#

# Popping an element (removes and returns the last element)
popped_item = numbers.pop()
print(popped_item)  # Output: 6
print(numbers)      # Output: [1, 7, 4, 5]

[1, 2, 10, 4, 5]
[1, 2, 10, 4, 5, 6]
[1, 2, 7, 10, 4, 5, 6]
[1, 2, 7, 4, 5, 6]
[1, 7, 4, 5, 6]
6
[1, 7, 4, 5]

# List Concatenation and Repetition

In [ ]:
# Concatenating lists
list1 = [1, 2, 3]
list2 = [4, 5, 6]
combined = list1 + list2
print(combined)  # Output: [1, 2, 3, 4, 5, 6]

# Repeating a list
repeated = [1, 2, 3] * 2
print(repeated)  # Output: [1, 2, 3, 1, 2, 3]

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3]

#6. List Length, Min, Max, and Sum

In [ ]:
numbers = [1, 2, 3, 4, 5]

# Length of a list
print(len(numbers))  # Output: 5

# Minimum value in a list
print(min(numbers))  # Output: 1

# Maximum value in a list
print(max(numbers))  # Output: 5

# Sum of the elements in the list
#print(sum(numbers))  # Output: 15

5
1
5

TypeError: 'int' object is not callable

#7. List Comprehensions

In [ ]:
# Squaring each element in the list
numbers = [1, 2, 3, 4, 5]
squared_numbers = [x**2 for x in numbers]
print(squared_numbers)  # Output: [1, 4, 9, 16, 25]

# Filtering even numbers from a list
even_numbers = [x for x in numbers if x % 2 == 0]
print(even_numbers)  # Output: [2, 4]

# 8. Checking Membership
## You can check if an element exists in the list using the in operator.

In [ ]:
fruits = ["apple", "banana", "cherry"]

# Check if 'banana' is in the list
print("banana" in fruits)  # Output: True

# Check if 'grape' is in the list
print("grape" in fruits)  # Output: False

# 9. Sorting and Reversing Lists

In [ ]:
# Sorting a list (ascending)
numbers = [4, 1, 3, 2, 5]
numbers.sort()
print(numbers)  # Output: [1, 2, 3, 4, 5]

# Sorting a list in descending order
numbers.sort(reverse=True)
print(numbers)  # Output: [5, 4, 3, 2, 1]

# Reversing a list
numbers.reverse()
print(numbers)  # Output: [1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]
[1, 2, 3, 4, 5]

#10. List Iteration

In [ ]:
fruits = ["apple", "banana", "cherry"]

# Iterating through the list
for fruit in fruits:
    print(fruit)

apple
banana
cherry

# 11. List Methods

In [ ]:
# Appending an element to the end of the list
fruits.append("orange")
print(fruits)  # Output: ['apple', 'banana', 'cherry', 'orange']

# Counting occurrences of an element
print(fruits.count("banana"))  # Output: 1

# Extending a list by appending elements from another iterable
fruits.extend(["pear", "grape"])
print(fruits)  # Output: ['apple', 'banana', 'cherry', 'orange', 'pear', 'grape']

# Finding the index of an element
print(fruits.index("cherry"))  # Output: 2

# Clearing all elements from the list
fruits.clear()
print(fruits)  # Output: []


#assign int to all list item
values1 = list(map(int, input("Enter numbers separated by space: ").split()))
print(values1)

['apple', 'banana', 'cherry', 'orange']
1
['apple', 'banana', 'cherry', 'orange', 'pear', 'grape']
2
[]
Enter numbers separated by space: 1 2 3 4 5  6 8 0 13
[1, 2, 3, 4, 5, 6, 8, 0, 13]

#12. Copying a List

In [ ]:
original_list = [1, 2, 3, 4, 5]

# Using copy() method
copy_list = original_list.copy()
print(copy_list)  # Output: [1, 2, 3, 4, 5]

# Using slicing
sliced_copy = original_list[:]
print(sliced_copy)  # Output: [1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

#13. Nested Lists and Accessing Nested Elements

In [ ]:
nested_list = [[1, 2, 3], ["apple", "banana", "cherry"], [3.14, 1.59]]

# Accessing an element from the nested list
print(nested_list[1][0])  # Output: apple
print(nested_list[2][1])  # Output: 1.59

apple
1.59

#Access list with Loops

In [ ]:
list_num=[5, 10, 15, 3, 25, 7, 4, 15]
for i in list_num:
    print(i,end=" ")

print()

for i in list_num:
    print(i+10,end=" ")

print()

for i in list_num:
    print("This is " + str(i))
print()

5 10 15 3 25 7 4 15
15 20 25 13 35 17 14 25
This is 5
This is 10
This is 15
This is 3
This is 25
This is 7
This is 4
This is 15

#Zip list elements

##The zip() function in Python is used to combine multiple lists (or iterables) element-wise into tuples.

### zip(iterable1, iterable2, ...)

In [ ]:
list1 = [1, 2, 3]
list2 = ['a', 'b', 'c']

zipped = zip(list1, list2)
print(list(zipped))



list1 = [1, 2, 3]
list2 = ['a', 'b', 'c']
list3 = [True, False, True]

zipped = zip(list1, list2, list3)
print(list(zipped))



###  Zipping Lists of Different Lengths
#If the lists have different lengths, zip() stops when the shortest iterable is exhausted.

list1 = [1, 2, 3, 4]
list2 = ['a', 'b']

zipped = zip(list1, list2)
print(list(zipped))

[(1, 'a'), (2, 'b'), (3, 'c')]
[(1, 'a', True), (2, 'b', False), (3, 'c', True)]

#Unzipping with zip(*iterables)

In [ ]:
zipped = [(1, 'a'), (2, 'b'), (3, 'c')]

unzipped = zip(*zipped)
list1, list2 = list(unzipped)
print(list1)
print(list2)

(1, 2, 3)
('a', 'b', 'c')

#problems:

In [ ]:
#Reverse and concate two list.
# Define two lists
list1 = [1, 2, 3]
list2 = ['a', 'b', 'c']

# Reverse both lists using slicing
reversed_list1 = list1[::-1]
reversed_list2 = list2[::-1]

# Concatenate the reversed lists
concatenated_list = reversed_list1 + reversed_list2

print("Reversed List 1:", reversed_list1)
print("Reversed List 2:", reversed_list2)
print("Concatenated List:", concatenated_list)

In [ ]:
#Remove duplicate items from the list.

##Method 1: Using set() (Unordered, but removes duplicates)

# Define a list with duplicates
numbers = [1, 2, 2, 3, 4, 4, 5]

# Remove duplicates by converting the list to a set
unique_numbers = list(set(numbers))

print("List without duplicates:", unique_numbers)



#Method 2: Using a for loop (Preserving the order)
# Define a list with duplicates
numbers = [1, 2, 2, 3, 4, 4, 5]

# Create an empty list to store unique items
unique_numbers = []

# Iterate over the original list and add items to the new list if not already present
for num in numbers:
    if num not in unique_numbers:
        unique_numbers.append(num)

print("List without duplicates:", unique_numbers)


#Method 3: Using dict.fromkeys() (Preserving the order)

# Define a list with duplicates
numbers = [1, 2, 2, 3, 4, 4, 5]

# Remove duplicates using dict.fromkeys()
unique_numbers = list(dict.fromkeys(numbers))

print("List without duplicates:", unique_numbers)

List without duplicates: [1, 2, 3, 4, 5]
List without duplicates: [1, 2, 3, 4, 5]
List without duplicates: [1, 2, 3, 4, 5]

In [ ]:
#write a funcion to swap elements of two positions in a list.

def swap_elements(lst, pos1, pos2):
    """
    Swap elements at index pos1 and pos2 in the given list lst.

    Parameters:
    lst (list): The list containing the elements.
    pos1 (int): The index of the first element to swap.
    pos2 (int): The index of the second element to swap.

    Returns:
    list: The list with swapped elements.
    """
    # Check if the positions are valid
    if pos1 < 0 or pos1 >= len(lst) or pos2 < 0 or pos2 >= len(lst):
        print("Error: Invalid positions.")
        return lst

    # Swap the elements
    lst[pos1], lst[pos2] = lst[pos2], lst[pos1]

    return lst

# Example usage
numbers = [1, 2, 3, 4, 5]
print("Original list:", numbers)

# Swap elements at positions 1 and 3
swapped_list = swap_elements(numbers, 1, 3)
print("List after swapping:", swapped_list)

Original list: [1, 2, 3, 4, 5]
List after swapping: [1, 4, 3, 2, 5]

In [ ]:
#Write a function to find sum and average of a list.

def sum_and_average(lst):
    """
    Function to calculate the sum and average of elements in a list.

    Parameters:
    lst (list): The list of numbers.

    Returns:
    tuple: A tuple containing the sum and average of the list.
    """
    if len(lst) == 0:
        return 0, 0  # If the list is empty, return 0 for both sum and average
    total_sum = 0
    for i in range(len(lst)):
      total_sum +=lst[i]

    #total_sum = sum(lst)
    average = total_sum / len(lst)

    return total_sum, average

# Example usage
numbers = [1, 2, 3, 4, 5]
sum_result, average_result = sum_and_average(numbers)

print("Sum:", sum_result)
print("Average:", average_result)

Sum: 15
Average: 3.0

In [ ]:
#Write a Python function that takes two lists and returns True if they have at least one common member.
def have_common_member(list1, list2):
    """
    Function to check if two lists have at least one common member.

    Parameters:
    list1 (list): The first list.
    list2 (list): The second list.

    Returns:
    bool: True if there is at least one common member, False otherwise.
    """
    # Use set intersection to find common elements
    if set(list1) & set(list2):
        return True
    else:
        return False

# Example usage
list1 = [1, 2, 3, 4, 5]
list2 = [5, 6, 7, 8]
list3 = [10, 20, 30]

print(have_common_member(list1, list2))  # Output: True (common element: 5)
print(have_common_member(list1, list3))  # Output: False (no common element)


def have_common_member(list1, list2):
    for item in list1:
        if item in list2:
            return True
    return False

# Example usage
list1 = [1, 2, 3, 4, 5]
list2 = [5, 6, 7, 8]
list3 = [10, 20, 30]

print(have_common_member(list1, list2))  # Output: True (common element: 5)
print(have_common_member(list1, list3))  # Output: False (no common element)

True
False
True
False

In [ ]:
#Write a python program to check whether two lists are circularly identical.

def are_circularly_identical(list1, list2):
    """
    Check whether two lists are circularly identical.

    Parameters:
    list1 (list): The first list.
    list2 (list): The second list.

    Returns:
    bool: True if the lists are circularly identical, False otherwise.
    """
    if len(list1) != len(list2):
        return False  # Circularly identical lists must have the same length

    # Concatenate list1 with itself
    concatenated = list1 + list1

    # Check if list2 is a subsequence of the concatenated list
    return ''.join(map(str, list2)) in ''.join(map(str, concatenated))
    #''.join(map(str, list2)) converts the list into a single string.


# Example usage
list1 = [1, 2, 3, 4]
list2 = [3, 4, 1, 2]
list3 = [4, 3, 2, 1]

print(are_circularly_identical(list1, list2))  # Output: True (circularly identical)
print(are_circularly_identical(list1, list3))  # Output: False (not circularly identical)

True
False

In [ ]:
#Write a Python program to find the second smallest and largest number in a list .

def find_second_smallest_and_largest(numbers):
    """
    Function to find the second smallest and second largest numbers in a list.

    Parameters:
    numbers (list): A list of numbers.

    Returns:
    tuple: A tuple containing the second smallest and second largest numbers.
    """
    if len(numbers) < 2:
        return None, None  # Not enough elements for second smallest/largest

    # Remove duplicates and sort the list
    unique_numbers = sorted(set(numbers))

    if len(unique_numbers) < 2:
        return None, None  # Not enough unique elements for second smallest/largest

    second_smallest = unique_numbers[1]  # Second element in sorted list
    second_largest = unique_numbers[-2]  # Second last element in sorted list

    return second_smallest, second_largest


# Example usage
numbers = [10, 20, 4, 45, 99, 20, 4]
second_smallest, second_largest = find_second_smallest_and_largest(numbers)

print("Second Smallest:", second_smallest)
print("Second Largest:", second_largest)

Second Smallest: 10
Second Largest: 45

#Write a Python program to compute the difference between two lists.

Sample data: ["red", "orange", "green", "blue", "white"], ["black", "yellow", "green", "blue"]
Expected Output:
Color1-Color2: ['white', 'orange', 'red']
Color2-Color1: ['black', 'yellow']

In [ ]:
def list_difference(list1, list2):
    """
    Function to compute the difference between two lists.

    Parameters:
    list1 (list): The first list.
    list2 (list): The second list.

    Returns:
    tuple: A tuple containing the differences (list1 - list2 and list2 - list1).
    """
    # Compute the differences
    difference1 = [item for item in list1 if item not in list2]
    difference2 = [item for item in list2 if item not in list1]

    return difference1, difference2


# Sample data
list1 = ["red", "orange", "green", "blue", "white"]
list2 = ["black", "yellow", "green", "blue"]

# Compute differences
diff1, diff2 = list_difference(list1, list2)

# Print results
print("Color1-Color2:", diff1)
print("Color2-Color1:", diff2)

Color1-Color2: ['red', 'orange', 'white']
Color2-Color1: ['black', 'yellow']

In [ ]:
#Write a Python program to find the item with maximum occurrences in a given list.
def find_max_occurrences(lst):
    """
    Function to find the item with the maximum occurrences in a list.

    Parameters:
    lst (list): The list of items.

    Returns:
    tuple: A tuple containing the item with the maximum occurrences and its count.
    """
    if not lst:
        return None, 0  # Return None if the list is empty

    # Create a dictionary to count occurrences
    occurrences = {}
    for item in lst:
        occurrences[item] = occurrences.get(item, 0) + 1

    # Find the item with the maximum occurrences
    max_item = max(occurrences, key=occurrences.get)
    max_count = occurrences[max_item]

    return max_item, max_count


# Example usage
data = [1, 2, 2, 3]
item, count = find_max_occurrences(data)

print(f"Item with maximum occurrences: {item} (Count: {count})")

Item with maximum occurrences: 2 (Count: 2)

##occurrences.get(item, 0)
###occurrences.get(item): Looks for the current item in the dictionary
###If item exists, it returns the value (current count).
###If item does not exist, it returns the default value (0).

##max_item = max(occurrences, key=occurrences.get)

###max() iterates over the keys of occurrences: 1, 2, 3.
###For each key, it calls occurrences.get(key):
####occurrences.get(1) → 1
####occurrences.get(2) → 2
####occurrences.get(3) → 1

##occurrences.get(item) retrieves the count of the item from the dictionary.

In [ ]:
#Write a Python program to check if the elements of a given list are unique or not
def are_elements_unique(lst):
    """
    Function to check if all elements in a list are unique.

    Parameters:
    lst (list): The input list to check.

    Returns:
    bool: True if all elements are unique, False otherwise.
    """
    # Convert the list to a set to remove duplicates
    unique_elements = set(lst)
    print(unique_elements)

    # Compare lengths to check uniqueness
    if len(lst) == len(unique_elements):
        return True
    return False

# Example usage
numbers = [1, 2, 3, 4, 5]
result = are_elements_unique(numbers)
print(f"Are elements in the list unique? {result}")

numbers_with_duplicates = [1, 2, 2, 4, 5]
result = are_elements_unique(numbers_with_duplicates)
print(f"Are elements in the list unique? {result}")

{1, 2, 3, 4, 5}
Are elements in the list unique? True
{1, 2, 4, 5}
Are elements in the list unique? False

#Python Tuples

##A tuple is a collection of immutable elements. Once created, its content cannot be changed (unlike a list). Tuples are used for grouping data and ensuring its integrity.

###Empty Tuple

In [ ]:
empty_tuple = ()
print(empty_tuple)  # Output: ()

()

#Single Element Tuple

In [ ]:
single_tuple = (1,)  # Notice the comma
print(single_tuple)  # Output: (1,)

(1,)

###Multiple Elements Tuple

In [ ]:
multi_tuple = (1, 2, 3)
print(multi_tuple)  # Output: (1, 2, 3)

(1, 2, 3)

###Without Parentheses (Tuple Packing)

###When multiple values are assigned to a single variable or returned from a function, they are automatically "packed" into a tuple, even if no parentheses are provided.

In [ ]:
packed_tuple = 1, 2, 3
print(packed_tuple)  # Output: (1, 2, 3)

# Tuple packing without parentheses
packed_tuple = 1, 2, 3
print(packed_tuple)  # Output: (1, 2, 3)
print(type(packed_tuple))  # Output: <class 'tuple'>

#Returning Multiple Values from a Function
def get_coordinates():
    return 10, 20  # Tuple packing without parentheses

result = get_coordinates()
print(result)  # Output: (10, 20)

(1, 2, 3)
(1, 2, 3)
<class 'tuple'>
(10, 20)

##Using tuple() Constructor

###In Python, the tuple() constructor is used to create a tuple explicitly. It can take any iterable (like a list, set, string, or range) as an argument and convert it into a tuple.

In [ ]:
#Converting a List to a Tuple
my_list = [1, 2, 3, 4]
my_tuple = tuple(my_list)
print(my_tuple)  # Output: (1, 2, 3, 4)

#Converting a String to a Tuple
my_string = "hello"
my_tuple = tuple(my_string)
print(my_tuple)  # Output: ('h', 'e', 'l', 'l', 'o')

#Converting a Set to a Tuple
my_set = {5, 1, 3}
my_tuple = tuple(my_set)
print(my_tuple)  # Output: (5, 1, 3) or other order depending on the set

#Converting a Dictionary to a Tuple
my_dict = {'a': 1, 'b': 2, 'c': 3}
my_tuple = tuple(my_dict)
print(my_tuple)  # Output: ('a', 'b', 'c')

(1, 2, 3, 4)
('h', 'e', 'l', 'l', 'o')
(1, 3, 5)
('a', 'b', 'c')

In [ ]:
#Accessing Elements
my_tuple = (10, 20, 30, 40)

# Access by index
print(my_tuple[0])  # Output: 10

# Negative indexing
print(my_tuple[-1])  # Output: 40

10
40

In [ ]:
#Slicing Tuples
slice_tuple = (10, 20, 30, 40, 50)

# Slicing
print(slice_tuple[1:4])  # Output: (20, 30, 40)

# Step slicing
print(slice_tuple[::2])  # Output: (10, 30, 50)

(20, 30, 40)
(10, 30, 50)

In [ ]:
#Tuple Operations

##Concatenation
tuple1 = (1, 2, 3)
tuple2 = (4, 5)
result = tuple1 + tuple2
print(result)  # Output: (1, 2, 3, 4, 5)

##Repetition
repeated_tuple = (1, 2) * 3
print(repeated_tuple)  # Output: (1, 2, 1, 2, 1, 2)

##Membership Test
my_tuple = (10, 20, 30)
print(20 in my_tuple)  # Output: True
print(40 in my_tuple)  # Output: False

##count()
my_tuple = (1, 2, 2, 3, 4)
print(my_tuple.count(2))  # Output: 2

##index()
my_tuple = (10, 20, 30, 40)
print(my_tuple.index(30))  # Output: 2

##Unpacking Tuples
my_tuple = (10, 20, 30)
a, b, c = my_tuple # Unpacking into variables
print(a, b, c)  # Output: 10 20 30

##Nested Tuples
nested_tuple = (1, (2, 3), (4, (5, 6)))
print(nested_tuple[1][1])  # Output: 3
print(nested_tuple[2][1][0])  # Output: 5

##Immutability of Tuples
###Tuples cannot be modified:
my_tuple = (1, 2, 3)
# my_tuple[0] = 10  # This will raise an error

##Tuple as Dictionary Keys
my_dict = { (1, 2): "value", (3, 4): "another value" }
print(my_dict[(1, 2)])  # Output: value

##Tuple Comparisons
print((1, 2, 3) < (1, 3, 2))  # Output: True
print((1, 2, 3) == (1, 2, 3))  # Output: True

##List to Tuple
my_list = [1, 2, 3]
my_tuple = tuple(my_list)
print(my_tuple)  # Output: (1, 2, 3)

##Tuple to List
my_tuple = (4, 5, 6)
my_list = list(my_tuple)
print(my_list)  # Output: [4, 5, 6]

(1, 2, 3, 4, 5)
(1, 2, 1, 2, 1, 2)
True
False
2
2
10 20 30
3
5
value
True
True
(1, 2, 3)
[4, 5, 6]

#dictionaries

## Creating Dictionaries:

In [ ]:
# Creating an empty dictionary
my_dict = {}

# Creating a dictionary with key-value pairs
my_dict = {'name': 'Alice', 'age': 25, 'city': 'New York'}
print(my_dict)

{'name': 'Alice', 'age': 25, 'city': 'New York'}

##Using dict() Constructor:

In [ ]:
my_dict = dict(name='Alice', age=25, city='New York')
print(my_dict)

{'name': 'Alice', 'age': 25, 'city': 'New York'}

In [ ]:
person = {
    'name': 'Ford',
    "age": 25,
    'job': 'Dev',
    "city": 'New York',
    'email': 'bob@web.com'
}
print(person)

print(person["name"])
person['height']=5.6
print(person)

{'name': 'Ford', 'age': 25, 'job': 'Dev', 'city': 'New York', 'email': 'bob@web.com'}
Ford
{'name': 'Ford', 'age': 25, 'job': 'Dev', 'city': 'New York', 'email': 'bob@web.com', 'height': 5.6}

# Accessing Dictionary Items:

In [ ]:
print(my_dict['name'])  # Output: Alice

Alice

###Using get() Method (Returns None if key doesn't exist):

In [ ]:
print(my_dict.get('age'))  # Output: 25
print(my_dict.get('address'))  # Output: None

25
None

##3. Adding or Modifying Dictionary Items:

In [ ]:
# Adding a new key-value pair
my_dict['address'] = '123 Main St'

# Modifying an existing key-value pair
my_dict['age'] = 26
print(my_dict)

{'name': 'Alice', 'age': 26, 'city': 'New York', 'address': '123 Main St'}

## . Removing Items from Dictionary:

In [ ]:
del my_dict['age']
print(my_dict)  # Removes the 'age' key-value pair

{'name': 'Alice', 'city': 'New York', 'address': '123 Main St'}

###Using pop()

In [ ]:
address = my_dict.pop('address', 'Not Found')  # Removes 'address' and returns its value
print(address)  # Output: 123 Main St
print(my_dict)

Not Found
{'name': 'Alice', 'city': 'New York'}

###Using popitem() (removes the last inserted key-value pair):

In [ ]:
last_item = my_dict.popitem()
print(last_item)  # Output: ('city', 'New York')

('city', 'New York')

###Using clear():

In [ ]:
my_dict.clear()  # Clears the dictionary
print(my_dict)   # Output: {}

{}

##5. Merging Dictionaries:
### overide same key value

In [ ]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'b': 3, 'c': 4}
dict1.update(dict2)  # Merges dict2 into dict1, modifying dict1
print(dict1)  # Output: {'a': 1, 'b': 3, 'c': 4}

{'a': 1, 'b': 3, 'c': 4}

###Using {**dict1, **dict2}

In [ ]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'b': 3, 'c': 4}
merged_dict = {**dict1, **dict2}
print(merged_dict)  # Output: {'a': 1, 'b': 3, 'c': 4}

{'a': 1, 'b': 3, 'c': 4}

#6. Iterating Over a Dictionary:

###Iterating through Keys:

In [ ]:
for key in my_dict:
    print(key)

###Iterating through Values:

In [ ]:
for value in my_dict.values():
    print(value)

###Iterating through Key-Value Pairs:

In [ ]:
for key, value in my_dict.items():
    print(f"{key}: {value}")

##Checking if a Key Exists:

###Using in:

In [ ]:
if 'name' in my_dict:
    print("Key exists!")

##Using get() (Returns None if key doesn't exist):

In [ ]:
if my_dict.get('city'):
    print("City exists!")
else:
  print("city not exist")

City exists!

In [ ]:
my_dict.items()#list of tuples created

dict_items([('name', 'Alice'), ('age', 25), ('city', 'New York')])

## Dictionary Comprehensions:

In [ ]:
squared_numbers = {x: x**2 for x in range(5)}
print(squared_numbers)  # Output: {0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

##Reversing Key-Value Pairs (Swapping keys and values):

In [ ]:
original_dict = {'a': 1, 'b': 2, 'c': 3}
swapped_dict = {value: key for key, value in original_dict.items()}
print(swapped_dict)  # Output: {1: 'a', 2: 'b', 3: 'c'}

{1: 'a', 2: 'b', 3: 'c'}

##Sorting a Dictionary:

## sorting by Keys

####sorted(my_dict):
####sorted() is a built-in Python function that returns a sorted list.
####When applied to a dictionary, my_dict, it sorts the dictionary by keys (since the default behavior of sorted() is to sort the keys of the dictionary).

###or k in sorted(my_dict):
###This part is a loop that iterates over the sorted keys of my_dict.

##For each key k in the sorted list, we access the value in my_dict using my_dict[k].

In [ ]:
my_dict = {'b': 2, 'a': 1, 'c': 3}
sorted_dict = {k: my_dict[k] for k in sorted(my_dict)}
print(sorted_dict)  # Output: {'a': 1, 'b': 2, 'c': 3}

{'a': 1, 'b': 2, 'c': 3}

## Sorting by values
### my_dict.items()  return the dictionary as tuples

###sorted(my_dict.items(), key=lambda item: item[1]):

####The sorted() function is used to sort the list of tuples returned by my_dict.items().
####sorted() takes an optional key argument, which specifies a function to extract the value for sorting.
####Here, key=lambda item: item[1] means we're sorting by the second element of each tuple (i.e., the values in the dictionary).
####sorted_dict = {k: v for k, v in sorted_items}

In [ ]:
sorted_dict_by_values = {k: v for k, v in sorted(my_dict.items(), key=lambda item: item[1])}
print(sorted_dict_by_values)

{'a': 1, 'b': 2, 'c': 3}

#Dictionary Views:

#### keys view

In [ ]:
keys_view = my_dict.keys()
print(keys_view)  # Output: dict_keys(['name', 'age', 'city'])

dict_keys(['b', 'a', 'c'])

####Values View:

In [ ]:
values_view = my_dict.values()
print(values_view)  # Output: dict_values(['Alice', 26, 'New York'])

dict_values([2, 1, 3])

####Items View:

In [ ]:
items_view = my_dict.items()
print(items_view)  # Output: dict_items([('name', 'Alice'), ('age', 26), ('city', 'New York')])

dict_items([('b', 2), ('a', 1), ('c', 3)])

#Handling Missing Keys (Using get() and setdefault()):

In [ ]:
#Handling Missing Keys (Using get() and setdefault()):
value = my_dict.get('age', 'Not Available')  # Returns 'Not Available' if 'age' key is missing
print(value)

#Using setdefault() (Adds the key if it doesn't exist):
my_dict.setdefault('email', 'example@example.com')  # Adds the 'email' key if it doesn't exist
print(my_dict)

Not Available
{'b': 2, 'a': 1, 'c': 3, 'email': 'example@example.com'}

# Nested Dictionaries:

In [ ]:
nested_dict = {
    'student1': {'name': 'Alice', 'age': 20, 'marks': 90},
    'student2': {'name': 'Bob', 'age': 22, 'marks': 85}
}
print(nested_dict['student1']['name'])  # Output: Alice

Alice

#Combining Two Dictionaries (Adding values for common keys):

###dict1.get(key,0) means?
###key: This is the key you are looking for in the dictionary.

###0: This is the default value that will be returned if the key does not exist in the dictionary.

In [ ]:
dict1 = {'a': 10, 'b': 20}
dict2 = {'a': 30, 'b': 40, 'c': 50}

# Using a loop
combined_dict = {}
for key in dict1.keys() | dict2.keys():
    combined_dict[key] = dict1.get(key, 0) + dict2.get(key, 0)

print(combined_dict)  # Output: {'a': 40, 'b': 60, 'c': 50}

{'b': 60, 'c': 50, 'a': 40}

#Problems:

In [ ]:
#Write a Python script to check whether a given key already exists in a dictionary.

def check_key_in_dict(dictionary, key):
    """
    Function to check if a key exists in a dictionary.

    Parameters:
    dictionary (dict): The dictionary to check.
    key: The key to look for in the dictionary.

    Returns:
    bool: True if the key exists, False otherwise.
    """
    if key in dictionary:
        return True
    else:
        return False

# Example usage
my_dict = {'name': 'Alice', 'age': 25, 'city': 'New York'}

key_to_check = 'age'
if check_key_in_dict(my_dict, key_to_check):
    print(f"The key '{key_to_check}' exists in the dictionary.")
else:
    print(f"The key '{key_to_check}' does not exist in the dictionary.")

key_to_check = 'country'
if check_key_in_dict(my_dict, key_to_check):
    print(f"The key '{key_to_check}' exists in the dictionary.")
else:
    print(f"The key '{key_to_check}' does not exist in the dictionary.")

The key 'age' exists in the dictionary.
The key 'country' does not exist in the dictionary.

In [ ]:
#Write a Python script to print a dictionary where the keys are numbers between 1 and 15 (both included) and the values are square of keys.

def generate_square_dict():
    # Create an empty dictionary
    square_dict = {}

    # Iterate through numbers from 1 to 15
    for num in range(1, 16):
        square_dict[num] = num ** 2  # Store the square of the number as the value

    return square_dict

# Call the function and print the result
square_dict = generate_square_dict()
print(square_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

In [ ]:
#Write a Python script to merge two Python dictionaries.

##the value from the second dictionary will overwrite the value in the first dictionary.

def merge_dicts(dict1, dict2):
    # Using update() to merge dict2 into dict1
    dict1.update(dict2)
    return dict1

# Example usage
dict1 = {'a': 1, 'b': 2}
dict2 = {'b': 3, 'c': 4}

merged_dict = merge_dicts(dict1, dict2)
print(merged_dict)

## another way
def merge_dicts(dict1, dict2):
    # Using the unpacking syntax to merge dictionaries
    return {**dict1, **dict2}

# Example usage
dict1 = {'a': 1, 'b': 2}
dict2 = {'b': 3, 'c': 4}

merged_dict = merge_dicts(dict1, dict2)
print(merged_dict)

{'a': 1, 'b': 3, 'c': 4}
{'a': 1, 'b': 3, 'c': 4}

In [ ]:
##Write a Python program to sum all the items in a dictionary.



#or
def sum_dict_items(dictionary):
    total_sum = 0
    # Iterating through the dictionary values
    for value in dictionary.values():
        total_sum += value  # Add each value to the total sum
    #total_sum = sum(dictionary.values())
    return total_sum

# Example usage
my_dict = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
result = sum_dict_items(my_dict)

print("The sum of all items in the dictionary is:", result)

The sum of all items in the dictionary is: 100

In [ ]:
#Write a Python program to get the maximum and minimum value in a dictionary.

def get_max_min(dictionary):
    # Get the key with maximum value
    max_key = max(dictionary, key=dictionary.get)
    max_value = dictionary[max_key]

    # Get the key with minimum value
    min_key = min(dictionary, key=dictionary.get)
    min_value = dictionary[min_key]

    return max_key, max_value, min_key, min_value

# Example usage
my_dict = {'a': 10, 'b': 50, 'c': 30, 'd': 5, 'e': 40}
max_key, max_value, min_key, min_value = get_max_min(my_dict)

print(f"The key with the maximum value is: '{max_key}' with value {max_value}")
print(f"The key with the minimum value is: '{min_key}' with value {min_value}")

The key with the maximum value is: 'b' with value 50
The key with the minimum value is: 'd' with value 5

###Write a Python program to combine two dictionary adding values for common keys. d1 = {'a': 100, 'b': 200, 'c':300} d2 = {'a': 300, 'b': 200, 'd':400} Sample output: Counter({'a': 400, 'b': 400, 'd': 400, 'c': 300})

In [ ]:
from collections import Counter

# Sample dictionaries
d1 = {'a': 100, 'b': 200, 'c': 300}
d2 = {'a': 300, 'b': 200, 'd': 400}

# Using Counter to combine the dictionaries and add values for common keys
combined = Counter(d1) + Counter(d2)

# Print the result
print(combined)

Counter({'a': 400, 'b': 400, 'd': 400, 'c': 300})

In [ ]:
#Convert two lists into a dictionary

# Sample lists
keys = ['a', 'b', 'c', 'd']
values = [100, 200, 300, 400]

# Convert the lists into a dictionary
dictionary = dict(zip(keys, values))
list = list(zip(keys,values))

# Print the result
print(dictionary)
print(list)

{'a': 100, 'b': 200, 'c': 300, 'd': 400}
[('a', 100), ('b', 200), ('c', 300), ('d', 400)]

#Take user input and Save all student's information in a dictionary. (name,id,cgpa)

In [ ]:
# Initialize an empty dictionary to store student information
students = {}

# Function to take student input
def add_student():
    # Take input from user
    name = input("Enter student's name: ")
    student_id = input("Enter student's ID: ")
    cgpa = float(input("Enter student's CGPA: "))

    # Store the student's information in the dictionary
    students[student_id] = {'name': name, 'cgpa': cgpa}

# Function to display all students' information
def display_students():
    if students:
        print("\nStudent Information:")
        for student_id, info in students.items():
            print(f"ID: {student_id}, Name: {info['name']}, CGPA: {info['cgpa']}")
    else:
        print("\nNo student information available.")

# Main program loop
while True:
    print("\n1. Add student information")
    print("2. Display all student information")
    print("3. Exit")

    # Get the user's choice
    choice = input("Enter your choice (1/2/3): ")

    if choice == '1':
        add_student()  # Add student's information
    elif choice == '2':
        display_students()  # Display all student information
    elif choice == '3':
        print("Exiting the program.")
        break
    else:
        print("Invalid choice. Please try again.")

1. Add student information
2. Display all student information
3. Exit
Enter your choice (1/2/3): 1
Enter student's name: akash
Enter student's ID: 2004009
Enter student's CGPA: 3.66

1. Add student information
2. Display all student information
3. Exit
Enter your choice (1/2/3): 3
Exiting the program.

##Sort a dictionary in ascending order by summation of key and value. key= Age and value=height

In [ ]:
# Sample dictionary with age as the key and height as the value
age_height_dict = {
    25: 175,
    30: 160,
    20: 180,
    35: 165,
    40: 170
}

# Sorting the dictionary by the summation of key and value (Age + Height)
sorted_dict = sorted(age_height_dict.items(), key=lambda x: x[0] + x[1])

# Displaying the sorted dictionary
print("Sorted dictionary by summation of Age and Height (ascending order):")
for key, value in sorted_dict:
    print(f"Age: {key}, Height: {value}, Sum (Age + Height): {key + value}")

Sorted dictionary by summation of Age and Height (ascending order):
Age: 30, Height: 160, Sum (Age + Height): 190
Age: 25, Height: 175, Sum (Age + Height): 200
Age: 20, Height: 180, Sum (Age + Height): 200
Age: 35, Height: 165, Sum (Age + Height): 200
Age: 40, Height: 170, Sum (Age + Height): 210

###Create a dictionary by interchanging key and value of another dictionary.

In [ ]:
# Original dictionary
original_dict = {
    'a': 1,
    'b': 2,
    'c': 3
}

# Swapping keys and values using dictionary comprehension
swapped_dict = {value: key for key, value in original_dict.items()}

## swapped_dict = {value: key}  for key,value in original_dict.items()

# Print the swapped dictionary
print(swapped_dict)

{1: 'a', 2: 'b', 3: 'c'}

#Set Operations

###Union
###Combines elements from two sets, removing duplicates.

In [ ]:
A = {1, 2, 3}
B = {3, 4, 5}
print(A | B)       # Output: {1, 2, 3, 4, 5}
print(A.union(B))  # Output: {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

###Intersection
Returns common *elemen*

In [ ]:
print(A & B)         # Output: {3}
print(A.intersection(B))  # Output: {3}

{3}
{3}

### Difference
Returns elements in one set but not the other.

In [ ]:
print(A - B)       # Output: {1, 2} (elements in A but not in B)
print(A.difference(B))  # Output: {1, 2}

{1, 2}
{1, 2}

###Symmetric Difference
Returns elements in either set but not both.

In [ ]:
print(A ^ B)  # Output: {1, 2, 4, 5}
print(A.symmetric_difference(B))  # Output: {1, 2, 4, 5}

{1, 2, 4, 5}
{1, 2, 4, 5}

#Set Comparisons

In [ ]:
A = {1, 2, 3}
B = {1, 2, 3, 4, 5}

print(A.issubset(B))  # True (A is a subset of B)
print(B.issuperset(A))  # True (B is a superset of A)
print(A.isdisjoint(B))  # False (A and B have common elements)

True
True
False

###rozen Sets
####A frozen set is an immutable version of a set.
####frozenset() constructor and behaves just like a set, except it cannot be modified after it is created.

In [ ]:
fs = frozenset([1, 2, 3,4,5,1,2,3,4])
print(fs)
#fs.add(4)  # Error: 'frozenset' object has no attribute 'add'
#fs.remove(1)  # Error: 'frozenset' object has no attribute 'remove'

frozenset({1, 2, 3, 4, 5})

###Other Set Methods

In [ ]:
A = {1, 2, 3}
B = {3, 4, 5}

# Check if an element exists
print(2 in A)  # True

# Clear all elements from a set
A.clear()
print(A)  # Output: set()

# Copy a set
C = B.copy()
print(C)  # Output: {3, 4, 5}

True
set()
{3, 4, 5}

##Example Use Cases of Sets

###Remove Duplicates from a List

In [ ]:
lst = [1, 2, 2, 3, 4, 4, 5]
unique = set(lst)
print(unique)  # Output: {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

###Find Common Elements

In [ ]:
list1 = [1, 2, 3, 4]
list2 = [3, 4, 5, 6]
common = set(list1) & set(list2)
print(common)  # Output: {3, 4}

{3, 4}

##Check for Subset or Superset
###1. Subset
###A set A is considered a subset of set B if all elements of A are also elements of B.

###Denoted as: A ⊆ B

##2. Proper Subset
###A proper subset is a subset that is strictly smaller than the original set. This means all elements of A are in B, but A is not equal to B.

###Denoted as: A ⊂ B

##3. Superset
###A set B is considered a superset of set A if all elements of A are also elements of B.

###Denoted as: B ⊇ A

##4. Proper Superset
###A proper superset is a superset that is strictly larger than the original set.

###Denoted as: B ⊃ A

In [ ]:
set_a = {1, 2}
set_b = {1, 2, 3, 4}

# Check if A is a subset of B
print(set_a.issubset(set_b))  # Output: True
##print(set_a <= set_b)

# Check if A is a proper subset of B
print(set_a < set_b)  # Output: True (proper subset)

# Check if B is a superset of A
print(set_b.issuperset(set_a))  # Output: True
##print(set_b >= set_a)

# Check if B is a proper superset of A
print(set_b > set_a)  # Output: True (proper superset)

True
True
True
True

###Symmetric Difference to Compare Files

####The symmetric difference operation between two sets in Python finds elements that are in either of the sets but not in both. It effectively excludes the common elements.

In [ ]:
file1 = {"line1", "line2", "line3"}
file2 = {"line2", "line3", "line4"}
diff = file1 ^ file2
print(diff)  # Output: {'line1', 'line4'}  i donot understand this  topic

{'line1', 'line4'}

In [ ]:
fruits = {"apple", "banana", "cherry"}
print(fruits)

fruits.add("Lichi")
print(fruits)

fruits.remove("apple")
print(fruits)

{'cherry', 'apple', 'banana'}
{'Lichi', 'cherry', 'apple', 'banana'}
{'Lichi', 'cherry', 'banana'}

###Sorting

In [ ]:
num_set = {5,7,6,3,4,9,7,2,3,3,1}

sorted_set = sorted(num_set)
desc_sorted_set = sorted(num_set, reverse=True)

print(sorted_set)
print(desc_sorted_set)

[1, 2, 3, 4, 5, 6, 7, 9]
[9, 7, 6, 5, 4, 3, 2, 1]

##List to Set

In [ ]:
num = [5,2,8,2,7,1,6,3]
print(num)
print( set(num) )

[5, 2, 8, 2, 7, 1, 6, 3]
{1, 2, 3, 5, 6, 7, 8}